@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

li,
ul,
a {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 48px;
  color: #243e63;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 32px;
  height: 32px;
}

ul {
  display: flex;
  align-items: center;
}

.purple {
  color: #6415ff;
}

button {
  transition: all ease 0.3s;
  cursor: pointer;
}

.btn {
  padding: 16px 32px;
  border-radius: 25px;
  border: none;
  background-color: #6415ff;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: rgb(80 17 204);
}

.subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
  max-width: 576px;
}

/* 

NAVIGATION

*/

#landing {
  padding: 32px 32px 0 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  margin: 24px;
  font-size: 14px;
  color: rgb(36, 62, 99);
  font-weight: 600;
}

.nav__link:hover {
  color: #6415ff;
}

.logo__name {
  font-weight: 800;
  margin-left: 12px;
  font-size: 24px;
  color: #243363;
  transition: all 300ms ease;
}

.logo__name:hover {
  color: #6415ff;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #6415ff;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.login {
  margin-left: 12px;
}

/* 

HEADER

*/

header {
  padding: 0 32px;
}

.header__content {
  width: 40%;
}

.header__description {
  font-size: 16px;
  line-height: 1.5;
  margin: 32px 0;
  color: #7c8ba1;
  font-weight: 500px;
}

.header__email {
  position: relative;
}

.header__email--input {
  padding: 22px 0 22px 32px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
  transition: border-color 300ms ease;
}

.header__email--input:hover {
  border-color: #6415ff;
}

.email__btn {
  position: absolute;
  right: 0;
  margin: 8px 8px 8px 0;
  padding: 14px 0;
  width: 160px;
  text-align: center;
  border-radius: 9999px;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
}

.header__customer--strip {
  width: 70%;
  opacity: 0.5;
  margin: 16px 0;
}

.customer__title--strip {
  margin-top: 80px;
  font-size: 12px;
  font-weight: 700;
  color: #a0aec0;
}

.header__img--wrapper {
  width: 60%;
  margin-left: 24px;
}

.img__wrap {
  width: 100%;
}

/*

FEATURES

*/

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 24px;
  font-weight: 900;
}

.feature__description {
  margin: 24px 32px 36px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.service {
  display: flex;
  width: calc(100% / 3);
  height: 210px;
  padding: 32px 24px;
}

.img__wrapper {
  border-radius: 100%;
  border-width: 1px;
  padding: 1.25rem;
  text-align: center;
  border: 1px solid rgb(226, 232, 240);
  height: 64px;
  width: 64px;
}

.service__contents {
  margin: 8px 0 0 16px;
}

.service__content--title {
  color: #243e63;
}

.service__contents--description {
  margin-top: 16px;
  font-size: 16px;
  line-height: 32px;
  color: #7c8ba1;
}
/* 

QUALITY WORK

*/

.quality__work {
  margin-right: 36px;
}

.quality__description {
  margin: 24px 0 36px;
  text-align: left;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

/* 

STEPS

*/

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__img {
  width: 100%;
}

.steps__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.steps__title {
  margin-bottom: 24px;
}

.step {
  margin-top: 24px;
  display: flex;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: rgb(200, 213, 224);
}

.step__content {
  margin-left: 24px;
}

.step__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  color: #243e63;
  font-weight: 600;
}

.step__description {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: #7c8ba1;
  max-width: 20rem;
}

/*

VALUES

*/

.values__contents {
  width: 50%;
  margin-right: 48px;
}

.values__description {
  text-align: left;
  margin: 24px 0px 36px 0px;
}

.the__values {
  display: flex;
  margin-bottom: 24px;
}

.value {
  margin-right: 24px;
}

.value__top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.value__icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(39 103 73);
  border-radius: 100%;
  background-color: rgb(154 230 180);
  padding: 8px;
}

.value__icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(155 44 44);
  border-radius: 100%;
  background-color: rgb(254 178 178);
  padding: 8px;
}

.value__name {
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.value__description {
  color: rgb(113 128 150);
  line-height: 1.625;
}
.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 100%;
}

/* 

PRICING

*/

.pricing__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pricing__title {
  margin-top: 24px;
  font-weight: 900;
}

.pricing__subtext {
  margin: 24px 0 36px 0;
}

.plans {
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(30%);
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  text-align: center;
  padding: 24px 0px;
  position: relative;
  margin: 14px;
  max-width: 370px;
  z-index: 1;
  background-color: #fff;
}

.personal__highlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__top {
  padding: 24px 0 36px 0;
}

.plan__type {
  font-size: 18px;
  font-weight: 700;
}

.plan__price {
  margin: 16px 0;
}

.plan__term {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: rgb(160 174 192);
}

.plan__middle {
  padding: 24px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.plan__middle--title {
  font-size: 18.72px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.plan__middle--info {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
  color: #718096;
}

.plan__bottom {
  padding: 24px;
}

.plan__btn {
  padding: 20px 75px;
  margin-top: 24px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.personal__btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.business__plan {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.business {
  color: #fff;
}

.business__btn {
  background-color: #fff;
  color: #6415ff;
}

.enterprise__highlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.enterprise__btn {
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.personal__btn:hover,
.bus__btn:hover,
.enterprise__btn:hover {
  transform: translate(1px, 1px);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.15);
}

/*

TESTIMONIALS

*/

.test__img--wrapper {
  width: 50%;
  margin-right: 64px;
  display: flex;
}

.testimony__img {
  width: 100%;
}

.testimony__content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.testimonial__subtext {
  margin: 24px 0 36px 0;
  text-align: left;
}

.star {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  fill: currentColor;
  color: rgb(246, 173, 85);
}

.review__title {
  font-size: 20px;
  margin: 16px 0 16px 0;
  color: #243e63;
  font-weight: 700;
}

.review__text {
  margin: 16px 0 40px 0;
  color: #4a5568;
  font-weight: 500;
  line-height: 1.625;
  width: 576px;
}

.reviewer__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.woman {
  display: flex;
  align-items: center;
}

.profile__img {
  height: 75px;
  max-width: 75px;
  margin-right: 24px;
  border-radius: 100%;
  overflow: hidden;
}

.reviewer__name {
  font-size: 20px;
  margin-bottom: 8px;
  color: #243e63;
}

.reviewer__job {
  font-size: 16px;
  color: #7c8ba1;
}

.review__arrows {
  display: flex;
}

.arrow {
  border-radius: 100%;
  padding: 14px 15px 12px 15px;
  margin: 8px 12px;
  border: none;
  background-color: rgb(237 242 247);
}

.purple__arrow {
  height: 16px;
  width: 16px;
  stroke-width: 3;
  color: #6415ff;
}

.vertical__line {
  border-left: 1px solid rgb(226, 232, 240);
  margin-top: 16px;
  margin-bottom: 16px;
}

/*


GET STARTED

*/

.get__started--background {
  padding: 100px;
  background-color: #6415ff;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.get__started--contents{
  display: flex;
  justify-content: space-between;
}

.get__started--text{
  font-size: 30px;
  color: #F7FAFC;
  font-weight: 700;
  max-width: 480px;
}

.get__started--buttons{
  display: flex;
  padding: 12px;
}


.start{
  padding: 20px 40px;
  margin-right: 32px;
  border-radius: 50px;
  border: none;
  background-color: rgb(245 101 101);
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
}

.start:hover{
  background-color: rgb(236, 51, 51);
}

.contact{
  padding: 20px 40px;
  margin-right: 32px;
  border-radius: 50px;
  border: 1px solid rgb(160 174 192);
  background-color: #6415ff;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.contact:hover{
  background-color: #fff;
  color: #6415ff;
}