@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li,
ul,
a {
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 48px;
  color: #243e63;
}

h3 {
  margin-top: 80px;
  font-size: 12px;
  font-weight: 700;
  color: #a0aec0;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 32px;
  height: 32px;
}

ul {
  display: flex;
  align-items: center;
}

.purple {
  color: #6415ff;
}

.btn {
  padding: 16px 32px;
  border-radius: 25px;
  border: none;
  background-color: #6415ff;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: rgb(80 17 204);
}

.subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* 

NAVIGATION

*/

#landing {
  padding: 32px 32px 0 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  margin: 24px;
  font-size: 14px;
  color: rgb(36, 62, 99);
  font-weight: 600;
}

.nav__link:hover {
  color: #6415ff;
}

.logo__name {
  font-weight: 800;
  margin-left: 12px;
  font-size: 24px;
  color: #243363;
  transition: all 300ms ease;
}

.logo__name:hover {
  color: #6415ff;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #6415ff;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.login {
  margin-left: 12px;
}

/* 

HEADER

*/

header {
  padding: 0 32px;
}

.header__content {
  width: 40%;
}

.header__description {
  font-size: 16px;
  line-height: 1.5;
  margin: 32px 0;
  color: #7c8ba1;
  font-weight: 500px;
}

.header__email {
  position: relative;
}

.header__email--input {
  padding: 22px 0 22px 32px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
  transition: border-color 300ms ease;
}

.header__email--input:hover {
  border-color: #6415ff;
}

.email__btn {
  position: absolute;
  right: 0;
  margin: 8px 8px 8px 0;
  padding: 14px 0;
  width: 160px;
  text-align: center;
  border-radius: 9999px;
  font-size: 16px;
  color: #f7fafc;
  font-weight: bold;
  line-height: 1.5;
}

.header__customer--strip {
  width: 70%;
  opacity: 0.5;
  margin: 16px 0;
}

.header__img--wrapper {
  width: 60%;
  margin-left: 24px;
}

.img__wrap {
  width: 100%;
}

/*

FEATURES

*/

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 24px;
  font-weight: 900;
}

.feature__description {
  margin: 24px 32px 36px;
  max-width: 576px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #7c8ba1;
}

.services {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.service {
  display: flex;
  width: calc(100% / 3);
  height: 210px;
  padding: 32px 24px;
}

.img__wrapper {
  border-radius: 100%;
  border-width: 1px;
  padding: 1.25rem;
  text-align: center;
  border: 1px solid rgb(226, 232, 240);
  height: 64px;
  width: 64px;
}

.service__contents {
  margin: 8px 0 0 16px;
}

.service__content--title {
  color: #243e63;
}

.service__contents--description {
  margin-top: 16px;
  font-size: 16px;
  line-height: 32px;
  color: #7c8ba1;
}
/* 

QUALITY WORK

*/

.quality__work {
  margin-right: 36px;
}

.quality__description {
  margin: 24px 0 36px;
  max-width: 576px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #7c8ba1;
  text-align: left;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

/* 

STEPS

*/

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__img {
  width: 100%;
}

.steps__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.steps__title {
  margin-bottom: 24px;
}

.step {
  margin-top: 24px;
  display: flex;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: rgb(200, 213, 224);
}

.step__content {
  margin-left: 24px;
}

.step__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  color: #243e63;
  font-weight: 600;
}

.step__description {
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  color: #7c8ba1;
  max-width: 20rem;
}

/*

VALUES

*/

.values__contents {
  width: 50%;
  margin-right: 48px;
}

.values__description {
  font-size: 18px;
  margin: 24px 0 36px 0;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
  text-align: left;
  max-width: 576px;
}

.the__values {
  display: flex;
  margin-bottom: 24px;
}

.value {
  margin-right: 24px;
}

.value__top {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.value__icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(39 103 73);
  border-radius: 100%;
  background-color: rgb(154 230 180);
  padding: 8px;
}

.value__icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(155 44 44);
  border-radius: 100%;
  background-color: rgb(254 178 178);
  padding: 8px;
}

.value__name {
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.value__description{
  color: rgb(113 128 150);
  line-height: 1.625;
}
.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 100%;
}
